@font-face{
    font-family:Regular;
    src:
        url(../../fonts/fontFamily/regular/Aileron-Regular.eot?0),
        url(../../fonts/fontFamily/regular/Aileron-Regular.otf0),
        url(../../fonts/fontFamily/regular/Aileron-Regular.svg?0),
        url(../../fonts/fontFamily/regular/Aileron-Regular.ttf?0),
        url(../../fonts/fontFamily/regular/Aileron-Regular.woff?0),
        url(../../fonts/fontFamily/regular/Aileron-Regular.woff2?0);
}
@font-face{font-family:Bold;
    src:
        url(../../fonts/fontFamily/bold/Aileron-Bold.eot?0),
        url(../../fonts/fontFamily/bold/Aileron-Bold.otf0),
        url(../../fonts/fontFamily/bold/Aileron-Bold.svg?0),
        url(../../fonts/fontFamily/bold/Aileron-Bold.ttf?0),
        url(../../fonts/fontFamily/bold/Aileron-Bold.woff?0),
        url(../../fonts/fontFamily/bold/Aileron-Bold.woff2?0);
}
@font-face{font-family:Black;
    src:
        url(../../fonts/fontFamily/black/Aileron-Black.eot?0),
        url(../../fonts/fontFamily/black/Aileron-Black.otf0),
        url(../../fonts/fontFamily/black/Aileron-Black.svg?0),
        url(../../fonts/fontFamily/black/Aileron-Black.ttf?0),
        url(../../fonts/fontFamily/black/Aileron-Black.woff?0),
        url(../../fonts/fontFamily/black/Aileron-Black.woff2?0);
}