@charset "UTF-8";
.about_us{}
.about_us .about_us_img{width:100%;float:left;background-repeat: no-repeat;background-size: cover;margin-bottom: 30px;}
.about_us .about_us_img.one{height:375px;background-position: center center;}
.about_us .about_us_img.two{height:328px;background-position: top center;}
.about_us .head_intro{font-size:40px;line-height: 1.1;color:#323232;font-family: bold;font-weight:bold;}
.about_us .post{font-size:50px;line-height: 1.2;font-family: black;font-weight:bold;color:#323232;}
.about_us .post > span{display: inline-block;color:#30e389;}
.about_us .sub_heading{font-family: bold;color:#e22f45;font-size: 24px;font-weight: bold;}

.about_us .progress-bars{width:100%;float:left;}
.about_us .progress-bars .bar-item{width:100%;float:left;position:relative;margin-bottom: 30px;}
.about_us .progress-bars .bar-item .skill-header{position:relative;width:100%;float:left;font-weight: bold;padding-bottom: 10px;font-size: 18px;line-height: 1.3;color:#323232;}
.about_us .progress-bars .bar-item .skill-header .skill-title{width:70%;float:left;text-transform: uppercase;}
.about_us .progress-bars .bar-item .skill-header .number{width:30%;float:left;text-align: right;}
.about_us .progress-bars .bar-item .skill-header .number .count-text{display: inline-block;}

.about_us .progress-bars .bar-item .skill-bar{width:100%;float:left;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner{position:relative;width:100%;float:left;overflow:hidden;height:8px;background:none;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner::before{content:'';position:absolute;left:0px;bottom:0px;width:100%;background: #eee;height: 100%;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar{position:absolute;left:0px;top:0px;height:100%;width:0px;background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-size: 1rem 1rem;-webkit-transition:all 2000ms ease;-moz-transition:all 2000ms ease;transition:all 2000ms ease;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar.back-one{background-color:#e22f45;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar.back-two{background-color:#eec85b;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar.back-three{background-color:#2cc7cb;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar.back-four{background-color:#30e389;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar.back-five{background-color:#b330e3;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar.back-six{background-color:#e330bc;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar.back-seven{background-color:#e38330;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar.back-eight{background-color:#7cae4f;}
.about_us .progress-bars .bar-item .skill-bar .bar-inner .bar.back-nine{background-color:#34495c;}

.about_us .progress-bars .boxes .bar-item{margin-bottom: 15px;}
.about_us .progress-bars .boxes .bar-item .skill-header{background:#2cc7cb;padding-top:25px;padding-bottom:25px;color:#fff;}
.about_us .progress-bars .boxes .bar-item .skill-header > *{width:100%;text-align: center;font-size: 18px;text-transform: capitalize;}
.about_us .progress-bars .boxes .bar-item .skill-header .number{text-align: center;margin-top: 10px;font-size: 30px;font-family: bold;display: flex;justify-content: center;}
.about_us .progress-bars .boxes .bar-item .skill-header .number::after{display: inline-block;content:"+";}
.about_us p{width:100%;float:left;margin-bottom: 10px;}
.about_us .outside_of_work{background:#34495c;color:#fff;padding:30px;margin-bottom: 30px;line-height: 1.5;}
.about_us .outside_of_work > span{display: block;font-family: bold;font-size: 30px;}
.about_us .outside_of_work > i{font-size: 24px;}

.about_us .unorder_list{width:100%;float:left;padding:0;margin:0 0 25px;}
.about_us .unorder_list > li{width:100%;float:left;margin-bottom: 5px;list-style: none;position: relative;padding-left: 25px;}
.about_us .unorder_list > li::before{position: absolute;top:2px;left:0;font-family: fontAwesome;content:"\f178";color:#aaa;}

.about_us .buttons{text-align: center;}


@media (min-width:992px) and (max-width:1199px)
{
    .about_us .post{font-size: 40px;}
    .about_us .about_us_img.one{height:316px;}
    .about_us .about_us_img.two{height:450px;}
    .about_us .progress-bars .boxes .bar-item .skill-header > *{font-size: 16px;}
}
@media (max-width:991px)
{
    .about_us .progress-bars .bar-item .skill-header .skill-title > span{display: none;}    
}
@media (min-width:768px) and (max-width:991px)
{
    .about_us .head_intro, .about_us .post{font-size: 32px;}
    .about_us .about_us_img.one{height:389px;}
    .about_us .about_us_img.two{height:350px;}
}
@media (max-width:620px)
{
    .about_us .about_us_img.one{margin-bottom: 10px;}
}
@media (min-width:621px) and (max-width:767px)
{
    .about_us .head_intro, .about_us .post{font-size: 30px;}
    .about_us .about_us_img.one{height:450px;}
    .about_us .about_us_img.two{height:450px;}
    .about_us .progress-bars .bar-item .skill-header{font-size: 16px;}
    .about_us .outside_of_work > span{font-size:24px;}
    .about_us .outside_of_work > i{font-size:20px;}
}
@media (min-width:461px) and (max-width:620px)
{
    .about_us .head_intro, .about_us .post{font-size: 28px;}
    .about_us .about_us_img.one{height:325px;background-position: top center;}
    .about_us .about_us_img.two{height:325px;}
    .about_us .progress-bars .bar-item .skill-header{font-size: 12px;}
    .about_us .progress-bars .boxes .bar-item .skill-header > *{font-size: 14px;}
    .about_us .progress-bars .boxes .bar-item .skill-header .number{font-size: 24px;}
    .about_us .outside_of_work > span{font-size:22px;}
    .about_us .outside_of_work > i{font-size:18px;}
    .about_us .sub_heading{font-size:22px;}
}
@media (max-width:460px)
{
    .about_us .head_intro, .about_us .post{font-size: 26px;}
    .about_us .head_intro{margin-bottom: 2px;}
    .about_us .about_us_img.one{height:325px;background-position: top center;}
    .about_us .about_us_img.two{height:275px;}
    .about_us .outside_of_work > span{font-size:16px;}
    .about_us .outside_of_work > i{font-size:14px;}
    .about_us .progress-bars .bar-item .skill-header{font-size:13px;}
    .about_us .progress-bars .boxes .bar-item .skill-header{padding:15px 10px;min-height: 105px;}
    .about_us .progress-bars .boxes .bar-item .skill-header > *{font-size:16px;}
    .about_us .progress-bars .boxes .bar-item .skill-header .number{font-size:20px;margin-top: 5px;}
    .about_us .sub_heading{font-size:16px;}
    .about_us .outside_of_work{padding:10px 10px;}
    .about_us p, .about_us .unorder_list > li, .about_us .outside_of_work{text-align: justify;}
}
