@charset "UTF-8";
.ads_two{background:#34495c;text-align: center;}
.ads_two .discount{font-size: 50px;font-family: bold;margin-bottom: 30px;color:#fff;line-height: 1.1;text-transform: capitalize;}






@media (min-width:992px) and (max-width:1199px)
{
    
}
@media (min-width:768px) and (max-width:991px)
{
    .ads_two .discount {font-size:45px;}
}
@media (min-width:621px) and (max-width:767px)
{
    .ads_two .discount {font-size:40px;}
}
@media (max-width:620px)
{
    .ads_two .discount {font-size:36px;}
}
@media (max-width:620px)
{
    .ads_two .discount {font-size:24px;}
}