@charset "UTF-8";
.projects-wrapper {
 width:100%;float:left;text-align: center;
}

.projects-list {
  margin: auto;
  left: 0;float: left;
width: 100%;
}

.project-item {
  width: 20%;float:left;
  margin-bottom: 30px;padding:0 15px;
  position: relative;
}


.filters-list {display: flex;justify-content: center;flex-wrap: wrap;
  margin-bottom: 25px;width:100%;float:left;display: none;
}
.filters-list.fixed{width: 1140px;position: fixed;z-index: 9;top: 7px;left: 0;right: 0;margin: auto;background: #fff;padding: 5px 5px 0;border: 1px solid #ccc;border-top: none;}
.filters-list.fixed li > a{padding-top:5px;padding-bottom:5px;}
.filters-list li {
  font-family: sans-serif;
  display: inline-block;
  background-color:#eee;
  margin:0 2px 5px;
}

.filters-list li:hover > a,
.filters-list li.active > a {
  background-color: #323232;color:#fff;
}
.filters-list li > a{width:100%;float:left;color:#323232;padding: 10px 15px;}
.filters-list li:last-child{width:100%;background: none;}
.filters-list li:last-child .quicksearch_area{margin:0 auto;}
.filters-list.fixed li:last-child{width: 554px;position: absolute;top: 100%;}

.project-item .cnt{width:100%;float:left;position: relative;border: 1px solid #ccc;text-align: left;}
.project-item .cnt .date{width:100%;float:left;background: #e22f45;color:#fff;font-size: 12px;padding:5px 10px;display: none;}
.project-item .cnt img {width:100%;float:left;}
.project-item .cnt p{background: #eee;padding: 10px;float: left;width: 100%;line-height: 1.2;}


.slide_show{position:fixed;top:0;left:0;width:100%;height:100%;z-index: 999;background:rgba(0,0,0,0.8);align-items: center;justify-content: center;display: none;}
.slide_show > img{max-width:440px;width:calc(100% - 20px);}
.slide_show > b{position: absolute;top:30px;right:30px;z-index: 999;color:#fff;font-size:40px;cursor: pointer;text-shadow: 0 0 3px grey;}
.slide_show > i{position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);cursor: pointer;font-size: 40px;z-index: 999;color:#fff;text-shadow: 0 0 3px grey;}
.slide_show > i.prev{left:20px;}
.slide_show > i.next{right:20px;}
.slide_show.active{display: flex;flex-wrap: wrap;}
.slide_show .total_current{width: 100%;text-align: center;color:#fff;position:absolute;bottom:30px;left:0;right:0;}


@media (min-width:992px) and (max-width:1199px)
{
    .filters-list.fixed{width: 992px;}
    .filters-list li > a{padding:10px 9px;}
    .filters-list.fixed li:last-child {width: 466px;}
}
@media (min-width:768px) and (max-width:991px)
{
    .filters-list.fixed{width: 768px;}
    .filters-list li:last-child .quicksearch_area {
      margin: 59px auto 0;}
}
@media (max-width:767px){
  .filters-list li:last-child{display: none;}
}
@media (min-width:621px) and (max-width:767px)
{
    .filters-list.fixed{width: 621px;}
    .filters-list li:last-child .quicksearch_area {
      margin: 59px auto 0;}
}
@media (max-width:620px)
{
  .projects-list{margin-bottom:20px;}
  .project-item{padding:0 5px;margin-bottom: 10px;}
  .filters-list.fixed{width: 100%;top:5px;}
}
@media (max-width:460px)
{
    .filters-list.fixed{padding:2px 2px 0;}
    .filters-list li{margin:0 1px 2px;}
    .filters-list.fixed li > a{padding:5px;}
    .filters-list.fixed li:last-child {width: 304px;}
      .filters-list.fixed li .quicksearch{padding:10px;}
      .filters-list.fixed li .quicksearch_area > .fa {height: 38px;line-height: 36px;}
      .project-item .cnt p{font-size:12px;padding:10px;}
      .project-item .cnt .date{padding:5px 10px;}
}