@charset "UTF-8";
/*my_education*/
.main .my_education{width:100%;float:left;padding:100px 0 50px;}
.main .my_education .education_path{width:100%;float:left;padding:0;margin:0;position: relative;}
ul.education_path::before{content:"";width:2px;left:0;right:0;top:0;height: 100%;background: #323232;position: absolute;margin:auto;}
.main .my_education .education_path::after{content:"";width:2px;left:0;bottom:0;right:0;height: 50px;background: #eee;position: absolute;margin:auto;}

.main .my_education .education_path > li:last-child::before{content:"";width:2px;left:-1px;top:0;min-height:109px;background: #eee;position: absolute;margin:auto;}

.main .my_education .education_path > li{width:50%;list-style: none;clear:both;margin-bottom: 50px;}
.main .my_education .education_path > li:nth-child(odd){float:right;padding-left:40px;}
.main .my_education .education_path > li:nth-child(even){float:left;padding-right:40px;text-align: right;}

.main .my_education .education_path > li div.year{width:125px;height:125px;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;border:10px solid #323232;text-align: center;color:#323232;line-height: 105px;font-size:24px;position: relative;font-family: bold;}
.main .my_education .education_path > li:nth-child(odd) div.year{float:left;margin-left:-205px;}
.main .my_education .education_path > li:nth-child(even) div.year{float:right;margin-right:-205px;}

.main .my_education .education_path > li div.year::before{width: 0;height: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;content: "";position: absolute;top: 0;bottom: 0;margin: auto;}
.main .my_education .education_path > li:nth-child(odd) div.year::before{border-left: 10px solid #323232;right: -19px;}
.main .my_education .education_path > li:nth-child(even) div.year::before{border-right: 10px solid #323232;left: -19px;}

.main .my_education .education_path > li div.point{width:20px;height:20px;position: absolute;margin:auto;border:2px solid #323232;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;background: #fff;top: 0;bottom: 0;margin: auto;}
.main .my_education .education_path > li div.point::before{content:"";width:8px;height:8px;position: absolute;top:0;left:0;bottom:0;right:0;margin:auto;background: #323232;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;}
.main .my_education .education_path > li:nth-child(odd) div.point{right:-60px;}
.main .my_education .education_path > li:nth-child(even) div.point{left:-60px;}

.main .my_education .education_path > li a.links{width:400px;}
.main .my_education .education_path > li:nth-child(odd) a.links{float:left;}
.main .my_education .education_path > li:nth-child(even) a.links{float:right;}
.main .my_education .education_path > li a.links > ul{width:100%;float:left;padding:0;margin:0;}
.main .my_education .education_path > li a.links > ul > li{width:100%;float:left;}
.main .my_education .education_path > li a.links > ul > li.sr_no_head{position: relative;width:325px;display: flex;flex-wrap: nowrap;box-shadow: 0 0 10px #aaa;-webkit-box-shadow: 0 0 10px #aaa;-moz-box-shadow: 0 0 10px #aaa;line-height: 1.5;}
.main .my_education .education_path > li:nth-child(odd) a.links > ul > li.sr_no_head{margin-left: -20px;}
.main .my_education .education_path > li:nth-child(even) a.links > ul > li.sr_no_head{margin-right: -20px;flex-direction: row-reverse;float:right;}
.main .my_education .education_path > li a.links > ul > li.sr_no_head > span{padding:15px 10px;font-weight: bold;font-size: 18px;}
.main .my_education .education_path > li a.links > ul > li.sr_no_head > span.sr_no{width:75px;text-align: center;color:#323232;background: #fff;}
.main .my_education .education_path > li a.links > ul > li.sr_no_head > span.head{width:250px;background: #323232;text-align: center;color:#fff;font-family: bold;}
.main .my_education .education_path > li a.links > ul > li.sr_no_head::before{width: 0;height: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;content: "";position: absolute;top: 0;bottom: 0;margin: auto;}

.main .my_education .education_path > li:nth-child(odd) a.links > ul > li.sr_no_head::before{border-right: 10px solid #323232;left:-10px;}
.main .my_education .education_path > li:nth-child(even) a.links > ul > li.sr_no_head::before{border-left: 10px solid #323232;right:-10px;}

.main .my_education .education_path > li a.links > ul > li.content{padding:30px 30px 25px;box-shadow:0 0 10px #aaa;-webkit-box-shadow:0 0 10px #aaa;-moz-box-shadow:0 0 10px #aaa;background: #fff;}
.main .my_education .education_path > li a.links > ul > li.content p{width:100%;float:left;margin-bottom: 5px;}
.main .my_education .education_path > li a.links > ul > li.content p.head{color:#323232;font-weight: bold;font-size: 24px;line-height: 1.3;margin-bottom: 10px;font-family: bold;}
.main .my_education .education_path > li a.links > ul > li.content p.text{color:#8c8c8c;}

.main .my_education .education_path > li.one a.links > ul > li.sr_no_head > span.head{background: #e22f45;}
.main .my_education .education_path > li.one a.links > ul > li.sr_no_head::before{border-right-color:#e22f45;}
.main .my_education .education_path > li.one div.year::before{border-left-color:#e22f45;}
.main .my_education .education_path > li.one div.year{border-color:#e22f45;color:#e22f45;}

.main .my_education .education_path > li.two a.links > ul > li.sr_no_head > span.head{background: #eec85b;}
.main .my_education .education_path > li.two a.links > ul > li.sr_no_head::before{border-left-color:#eec85b;}
.main .my_education .education_path > li.two div.year::before{border-right-color:#eec85b;}
.main .my_education .education_path > li.two div.year{border-color:#eec85b;color:#eec85b;}

.main .my_education .education_path > li.three a.links > ul > li.sr_no_head > span.head{background: #2cc7cb;}
.main .my_education .education_path > li.three a.links > ul > li.sr_no_head::before{border-right-color:#2cc7cb;}
.main .my_education .education_path > li.three div.year::before{border-left-color:#2cc7cb;}
.main .my_education .education_path > li.three div.year{border-color:#2cc7cb;color:#2cc7cb;}

.main .my_education .education_path > li.four a.links > ul > li.sr_no_head > span.head{background: #34495c;}
.main .my_education .education_path > li.four a.links > ul > li.sr_no_head::before{border-left-color:#34495c;}
.main .my_education .education_path > li.four div.year::before{border-right-color:#34495c;}
.main .my_education .education_path > li.four div.year{border-color:#34495c;color:#34495c;}

.main .my_education .education_path > li.five a.links > ul > li.sr_no_head > span.head{background: #30e389;}
.main .my_education .education_path > li.five a.links > ul > li.sr_no_head::before{border-right-color:#30e389;}
.main .my_education .education_path > li.five div.year::before{border-left-color:#30e389;}
.main .my_education .education_path > li.five div.year{border-color:#30e389;color:#30e389;}

.main .my_education .education_path > li.six a.links > ul > li.sr_no_head > span.head{background: #b330e3;}
.main .my_education .education_path > li.six a.links > ul > li.sr_no_head::before{border-left-color:#b330e3;}
.main .my_education .education_path > li.six div.year::before{border-right-color:#b330e3;}
.main .my_education .education_path > li.six div.year{border-color:#b330e3;color:#b330e3;}

.main .my_education .education_path > li.seven a.links > ul > li.sr_no_head > span.head{background: #e330bc;}
.main .my_education .education_path > li.seven a.links > ul > li.sr_no_head::before{border-right-color:#e330bc;}
.main .my_education .education_path > li.seven div.year::before{border-left-color:#e330bc;}
.main .my_education .education_path > li.seven div.year{border-color:#e330bc;color:#e330bc;}
/*my_education*/




@media (min-width:768px) and (max-width:991px)
{
    .main .my_education{padding:80px 0 30px;}
    .main .my_education .education_path > li a.links{width:320px;}
}
@media (min-width:621px) and (max-width:767px)
{
    .main .my_education {padding: 70px 0 40px;}
    .main .my_education .education_path > li{margin-bottom: 30px;}
    .main .my_education .education_path > li:nth-child(odd) div.year{margin-left: 0;}
    .main .my_education .education_path > li:nth-child(even) div.year{margin-right: 0;}
    .main .my_education .education_path > li a.links{width:100%;}
    .main .my_education .education_path > li a.links > ul > li.sr_no_head{width:275px;}
    .main .my_education .education_path > li a.links > ul > li.sr_no_head > span.head{width:275px;}
    .main .my_education .education_path > li:nth-child(2n+1) div.point{left:-205px;right:0;}
    .main .my_education .education_path > li:nth-child(2n) div.point{left:0;right:-205px;}
    .main .my_education .education_path > li div.year{margin-bottom: 30px;}
    .main .my_education .education_path > li:nth-child(2n+1) div.year::before {border-left:none;border-right:10px solid #323232;left:-19px;right:auto;}
    .main .my_education .education_path > li:nth-child(2n) div.year::before {border-right:none;border-left:10px solid #323232;right:-19px;left:auto;}
    .main .my_education .education_path > li a.links > ul > li.sr_no_head::before{width:0;height:0;border-left:10px solid transparent !important;border-right:10px solid transparent !important;border-bottom:10px solid #323232;position: absolute;border-top:none;content:"";bottom:auto;top:-10px;}
    .main .my_education .education_path > li:nth-child(odd) a.links > ul > li.sr_no_head::before{left:72px;}
    .main .my_education .education_path > li:nth-child(even) a.links > ul > li.sr_no_head::before{right:72px;}
    
    .main .my_education .education_path > li.one div.year::before{border-right-color:#e22f45;}
    .main .my_education .education_path > li.one a.links > ul > li.sr_no_head::before{border-bottom-color:#e22f45;}
    
    .main .my_education .education_path > li.two div.year::before{border-left-color:#eec85b;}
    .main .my_education .education_path > li.two a.links > ul > li.sr_no_head::before{border-bottom-color:#eec85b;}
    
    .main .my_education .education_path > li.three div.year::before{border-right-color:#2cc7cb;}
    .main .my_education .education_path > li.three a.links > ul > li.sr_no_head::before{border-bottom-color:#2cc7cb;}
    
    .main .my_education .education_path > li.four div.year::before{border-left-color:#34495c;}
    .main .my_education .education_path > li.four a.links > ul > li.sr_no_head::before{border-bottom-color:#34495c;}
    
    .main .my_education .education_path > li.five div.year::before{border-right-color:#30e389;}
    .main .my_education .education_path > li.five a.links > ul > li.sr_no_head::before{border-bottom-color:#30e389;}
    
    .main .my_education .education_path > li.six div.year::before{border-left-color:#b330e3;}
    .main .my_education .education_path > li.six a.links > ul > li.sr_no_head::before{border-bottom-color:#b330e3;}
    
    .main .my_education .education_path > li.seven div.year::before{border-right-color:#e330bc;}
    .main .my_education .education_path > li.seven a.links > ul > li.sr_no_head::before{border-bottom-color:#e330bc;}
    .main .my_education .education_path::after{height:30px;}
}
@media (max-width:620px)
{
    .main .my_education{padding:60px 0 10px;}
    div.main ul.education_path::before{right:auto;left:1px;}
    .main .my_education .education_path > li{width:100%;float:left;}
    .main .my_education .education_path > li a.links{width:100%;}
    .main .my_education .education_path > li a.links > ul > li.sr_no_head{max-width: 280px;}
    .main .my_education .education_path > li:nth-child(2n) a.links > ul > li.sr_no_head{float:left;flex-direction: row;margin:0 0 0 -20px;}
    .main .my_education .education_path > li:nth-child(2n) a.links > ul > li.sr_no_head::before{right: auto;left: -10px;border-right: 10px solid #323232;border-left: none;}
    .main .my_education .education_path > li:nth-child(2n){padding-right: 0;padding-left:40px;text-align: left;}
    .main .my_education .education_path::after{left:1px;right:auto;}
    .main .my_education .education_path > li.two a.links > ul > li.sr_no_head::before{border-right-color:#eec85b;}
    .main .my_education .education_path > li.four a.links > ul > li.sr_no_head::before{border-right-color:#34495c;}
    .main .my_education .education_path > li.six a.links > ul > li.sr_no_head::before{border-right-color:#b330e3;}
    .main .my_education .education_path > li:nth-child(2n+1) div.year{margin-left:0;}
    .main .my_education .education_path > li:nth-child(2n) div.year{margin-right:0;float:left;}
    .main .my_education .education_path > li:nth-child(2n+1) div.point{right: 0;left: -202px;z-index: 1;}
    .main .my_education .education_path > li:nth-child(2n) div.point{right: 0;left: -202px;z-index: 1;}
    .main .my_education .education_path > li:nth-child(2n+1) div.year::before{right:auto;border-left:none;border-right:10px solid #323232;left: -19px;right: auto;}
    .main .my_education .education_path > li div.year{margin-bottom: 30px;}
    .main .my_education .education_path > li.one div.year::before{border-right-color:#e22f45;}
    .main .my_education .education_path > li.three div.year::before{border-right-color:#2cc7cb;}
    .main .my_education .education_path > li.five div.year::before{border-right-color:#30e389;}
    .main .my_education .education_path > li.seven div.year::before{border-right-color:#e330bc;}
    .main .my_education .education_path > li a.links > ul > li.sr_no_head::before{display: none;}
    .main .my_education .education_path > li a.links > ul > li.sr_no_head > span.sr_no::before{width: 0;height: 0;border-left: 10px solid transparent !important;border-right: 10px solid transparent !important;border-bottom: 10px solid #323232;position: absolute;border-top: none;content: "";bottom: auto;top: -10px;left:73px;}
    .main .my_education .education_path > li.one a.links > ul > li.sr_no_head > span.sr_no::before{border-bottom-color:#e22f45;}
    .main .my_education .education_path > li.two a.links > ul > li.sr_no_head > span.sr_no::before{border-bottom-color:#eec85b;}
    .main .my_education .education_path > li.three a.links > ul > li.sr_no_head > span.sr_no::before{border-bottom-color:#2cc7cb;}
    .main .my_education .education_path > li.four a.links > ul > li.sr_no_head > span.sr_no::before{border-bottom-color:#34495c;}
    .main .my_education .education_path > li.five a.links > ul > li.sr_no_head > span.sr_no::before{border-bottom-color:#30e389;}
    .main .my_education .education_path > li.six a.links > ul > li.sr_no_head > span.sr_no::before{border-bottom-color:#b330e3;}
    .main .my_education .education_path > li.seven a.links > ul > li.sr_no_head > span.sr_no::before{border-bottom-color:#e330bc;}
}
@media (max-width:460px)
{
    .main .my_education .education_path > li div.year{width:60px;height:60px;line-height: 50px;font-size:16px;border-width:5px;}
    .main .my_education .education_path > li:nth-child(2n+1) div.year::before, .main .my_education .education_path > li:nth-child(2n) div.year::before {left:-14px;}
    .main .my_education .education_path > li a.links > ul > li.sr_no_head > span.head{max-width:205px;width:100%;}
    .main .my_education .education_path > li a.links > ul > li.content{padding:15px 10px 10px;}
    .main .my_education .education_path > li a.links > ul > li.content p.head{font-size: 16px;}
    .main .my_education .education_path > li:nth-child(2n) div.point, .main .my_education .education_path > li:nth-child(2n+1) div.point{left:-135px;}
    .main .my_education .education_path > li a.links > ul > li.sr_no_head > span.sr_no::before{left:60px;}
    .main .my_education .education_path > li a.links > ul > li.sr_no_head > span{font-size:14px;padding:10px;}
    .main .my_education .education_path > li a.links > ul > li.content p.text{text-align: justify;}
}