@charset "UTF-8";
.my_life_style .grey_box{width: 100%;float: left;background: #fcfcfc;margin-bottom: 30px;padding: 20px 20px;color: #434343;border: 1px solid #ccc;}
.my_life_style .grey_box > span{width:100%;float:left;font-size: 24px;font-family: bold;}
.my_life_style .image{width:100%;float:left;margin-bottom: 30px;position: relative;background-repeat: no-repeat;background-position: center center;background-size: cover;}
.my_life_style .image > p{width:100%;position: absolute;left:0;bottom:0;padding:20px;color:#fff;text-shadow: 0 0 1px #000;-webkit-text-shadow: 0 0 1px #fff;-moz-text-shadow: 0 0 1px #fff;}
.my_life_style .image > p > span{width:100%;float:left;line-height: 1;font-family: bold;}
.my_life_style .image > p > span.head{font-size: 24px;margin-bottom: 5px;}

.my_life_style .image.one{height: 530px;}
.my_life_style .image.two{height: 250px;}
.my_life_style .image.three{height: 250px;}
.my_life_style .image.four{height: 412px;}
.my_life_style .image.five{height: 250px;}
.my_life_style .image.six{height: 250px;}



@media (min-width:992px) and (max-width:1199px)
{
    .my_life_style .image.one{height: 430px;}
    .my_life_style .image.two{height: 200px;}
    .my_life_style .image.three{height: 200px;}
    .my_life_style .image.four{height: 387px;}
    .my_life_style .image.five{height: 200px;}
    .my_life_style .image.six{height: 200px;}
}
@media (min-width:768px) and (max-width:991px)
{
    .my_life_style .image.one{height: 670px;}
    .my_life_style .image.two{height: 320px;}
    .my_life_style .image.three{height: 320px;}
    .my_life_style .image.four{height: 412px;}
    .my_life_style .image.five{height: 320px;}
    .my_life_style .image.six{height: 320px;}
}
@media (min-width:621px) and (max-width:767px)
{
 	.my_life_style .image.one{height: 550px;}
	.my_life_style .image.two{height: 260px;}
	.my_life_style .image.three{height: 260px;}
    .my_life_style .image.four{height: 400px;}
    .my_life_style .image.five{height: 260px;}
    .my_life_style .image.six{height: 260px;}   
}
@media (min-width:461px) and (max-width:620px)
{
    .my_life_style .image.one{height: 550px;background-position: top center;}
}
@media (max-width:460px)
{	
    .my_life_style .grey_box{text-align: justify;padding:10px;}
	.my_life_style .image > p{padding:15px 10px;}
    .my_life_style .image > p > span.head{font-size: 16px;}
    .my_life_style .image > p > span{font-size: 12px;}
    .my_life_style .grey_box > span{font-size:16px;}

    .my_life_style .image.one{height: 550px;background-position: top center;}
    .my_life_style .image.two{height: 200px;}
	.my_life_style .image.three{height: 200px;}
    .my_life_style .image.four{height: 400px;}
    .my_life_style .image.five{height: 200px;}
    .my_life_style .image.six{height: 200px;} 
}