@charset "UTF-8";
.main .why_choose_me{padding-bottom:0;}
.why_choose_me .img_contact_area{width:100%;float:left;border: 15px solid #eec85b;border-bottom: none;}
.why_choose_me .img_contact_area .why_choose_me_img{width:100%;float:left;padding:20px 15px 0;background: #fff;}
.why_choose_me .img_contact_area .contact_details{width:100%;float:left;background: #eec85b;text-align: center;padding:35px 0 20px;display: flex;flex-direction: column;}
.why_choose_me .img_contact_area .contact_details a{color:#fff;font-size: 18px;margin-bottom: 15px;font-family:regular;}
.why_choose_me .img_contact_area .contact_details a::before{font-family: fontAwesome;}
.why_choose_me .img_contact_area .contact_details > a::before{margin-right:5px;}
.why_choose_me .img_contact_area .contact_details p{margin-bottom: 5px;}
.why_choose_me .img_contact_area .contact_details p > a{margin:0 5px 10px;}

.why_choose_me_area_text{width: 100%;float: left;text-transform: none;color: #fff;background: #34495c;margin-bottom: 30px;padding: 20px;}
.why_choose_me .why_choose_me_area{width:100%;float:left;margin-bottom: 30px;position: relative;background: #30e389;overflow: hidden;}
.why_choose_me .why_choose_me_area > span{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);width:100%;padding:15px 150px 15px 15px;color:#fff;font-size: 22px;font-family: bold;;line-height: 1.1;}
.why_choose_me .why_choose_me_area > a{width:auto;float: right;text-align: right;padding:30px 15px 30px 0px;position: relative;background: #34495c;color:#fff;font-family:bold;font-size: 16px;}
.why_choose_me .why_choose_me_area > a::before{width: 0;height: 0;position: absolute;left: -35px;bottom: 0;content: "";border-left: 60px solid transparent;border-bottom: 150px solid #34495c;transition: 0.3s linear; -webkit-transition: 0.3s linear; -moz-transition: 0.3s linear;}
.why_choose_me .why_choose_me_area > a:hover, .why_choose_me .why_choose_me_area > a:active, .why_choose_me .why_choose_me_area > a:focus{background: #e22f45;}
.why_choose_me .why_choose_me_area > a:hover::before, .why_choose_me .why_choose_me_area > a:active::before, .why_choose_me .why_choose_me_area > a:focus::before{border-bottom-color: #e22f45;}
.why_choose_me .why_choose_me_area > a > span{position: relative;}

@media (min-width:992px) and (max-width:1199px)
{
    
}
@media (max-width:991px)
{
   
}
@media (min-width:768px) and (max-width:991px)
{
	.why_choose_me .buttons{margin:0;}
	.why_choose_me .img_contact_area .why_choose_me_img{padding: 25px 5px 0;} 
}
@media (max-width:767px)
{
    
}
@media (min-width:621px) and (max-width:767px)
{
	.main .why_choose_me{padding-bottom:40px;}
    .why_choose_me .img_contact_area{margin-bottom: 30px;}
}
@media (max-width:620px)
{
    .main .why_choose_me{padding-bottom:30px;}
}
@media (min-width:461px) and (max-width:620px)
{
    .why_choose_me .img_contact_area{margin-bottom: 30px;}
}
@media (max-width:460px)
{
    .why_choose_me_area_text{text-align: justify;padding:10px;}
	.why_choose_me .img_contact_area .contact_details a{font-size: 14px;}
	.why_choose_me .img_contact_area{margin-bottom: 30px;border-width:10px;}  
	.why_choose_me .why_choose_me_area > span{font-size: 18px;} 
	.why_choose_me .img_contact_area .contact_details{padding:25px 0 10px;}
	.why_choose_me .why_choose_me_area > a{font-size:14px;padding:20px 15px 20px 0px;}
	.why_choose_me .why_choose_me_area > span{font-size:16px;padding:15px 150px 15px 10px;}
}
