[data-site="ticketstoworld_co_uk"]{
    .text::before{content:"This is a website of travel company. This website offers thousands of discount in airfares in the class of Economy, Business, Club and First, from all UK airports. Over 35000 hotels in worldwide, in which this offers up to 60% discount in 3* to 5* Hotels. This company is a specialist in Group Incentives, GroupBookings and Stag/Hen Weekends.";}
}
[data-site="ticketstoindia_co_uk"]{
    .text::before{content:"This is a website of travel company. This website company offers great deals and free team-leader places on group and incentive bookings*. We specialise in stag and hen weekends to organising school trips and weddings abroad.";}
}
[data-site="ticketstousa_co_uk"]{
    .text::before{content:"This is a website of travel company based in the United Kingdom. This website offers reliable flights and quality hotels at very affordable prices. This website company is specialise in stag and hen weekends to organising school trips and weddings abroad.";}
}
[data-site="ticketstopakistan_co_uk"]{
    .text::before{content:"This is a website of travel company. This website offers great deals and free team-leader places on group and incentive bookings. This is specialise in organising week-ends, school trips and weddings abroad. This website company pride itself on its ability to sell an extensive selection of reliable flights and quality hotels at very affordable prices.";}
}
[data-site="myamsterdam_co_uk"]{
    .text::before{content:"This is a website of travel. This website offers a vast selection of worldwide holidays, flights, cruises and, of course, city breaks at all budgets.";}
}
[data-site="citybreak1_co_uk"]{
    .text::before{content:"This is a website of travel company based in the United Kingdom. This travel company offers a vast selection of worldwide holidays, flights, cruises and, of course, city breaks at all budgets.";}
}