[data-site="dubai_visa_com"]{
    .text::before{content:"This is a website of visa. This website offers Dubai visa. This website is under process.";}
    // ::after{content:"Dhra Group";}
}
[data-site="nameherehereherehere"]{
    .text::before{content:"NameHerehrehre";}
}