.akounto_com_text::after{content:"This website offers the All-in-one accounting software to manage invoices, expenses, financial reports, payments, and taxes.";}
.akountobooks_com_text::after{content:"This website handle the finances & offers the following services like Bookkeeping; Tax-filing; Invoicing, payment collection, remittances; Balance sheets & profit/loss statements; & Organised ledgers and financial reports.";}

[data-site="nameherehereherehere"]{
    .text::before{content:"NameHerehrehre";}
}