[data-site="7qasearch_com"] {
    .text::before {content: "This is a website of tech support. This website provides information about antivirus & email.";}
}

[data-site="a2znumber_com"] {
    .text::before {content: "A2Znumber has gradually turned into a lifeline of the worldwide users of antiviruses, printers, routers, and email clients. The group is blessed with an equipped office that is divided into multiple sections and spread over a large area. Over the period of time, it has attained a wide expertise in the area it is dealing with. At the same time, the group is committed to enhancing its level of expertise in the years to come. The popularity story of A2Z Group starts with the tech support team it has formed a few years back. The team which is divided into multiple units is delivering the services without inviting any sort of troublesomeness.";}
}

[data-site="airlineschange_com"] {
    .text::before {content: "Airlineschange offers customer service to the customers to resolve various queries related to their airlines and their services. Also, This offers their customers with the details of the customer support numbers, email, and real-time reviews of the passengers to help customers make the right decision while choosing an airline to book their reservations.";}
}

[data-site="allphonesupport_com"] {
    .text::before {content: "Allphohesupport.com serves the customers for the reason that majority of the customers are seeking online to get the services that they need. Here, you can find numerous companies and choose the service according to your requirement. People get here best solutions for internet, apps & software issues, online flight booking.";}
}

[data-site="allsupportno_com"] {
    .text::before {content: "Allsupportnumber is the company is working for internet service provider & it is established in 2017, They are the third party customer service providers for US & UK clients, They have a group in all over the world for the US & UK users, here they have the best tech support experts who will provide you the information about your computer, printer, router, email & antivirus etc.";}
}

[data-site="supportno_com"] {
    .text::before {content: "Supportno is information provider resource and its just a platform where you can get the idea about how can you find the customer support & service assistance for any company products.";}
}

[data-site="alltfn_com"] {
    .text::before {content: "Alltfn is an only independent service information provider. Anyone can direct contact for all help of your problems solution info. This website just for information only. If you interested any query then you can leave in comment section your important enquiry for them and you can also try for the instant help.";}
}

[data-site="alternativenumber_com"] {
    .text::before {content: "Alternativenumber.com is one of the most trusted third party independent companies providing assistance to every kind of problems related to emails, browsers, routers and much more. They are the most reliable and trustworthy service provider. One can get result oriented assistance via aternativenumber.com. So don’t go here and there, you can easily find the contact number of all the service providers for your related help which you are not capable to find on any other place.";}
}

[data-site="anvsupport_com"] {
    .text::before {content: "They offer guaranteed service so that you do not find any bugs or any kind of interruption to your email account any day. Their email support number cater client from different parts of the world and they are regarded as one of the leaders among third party email Support Company. Their trained technical team is best in the business and known for their problem-resolving attitude. They keep good eye on all your email issues come with innovative and time bound solution.";}
}

[data-site="askpromptly_com"] {
    .text::before {content: "Askpromptly is one of the best support provider companies that proffer amazing support on varied things such as email, browsers, routers, travel and more. Along with the technical support, they also help the users on travel related things such as flight booking, cancellations and more. They have a team of highly skilled professionals who are always given the best assistance with required solutions on all sorts of queries whether it’s technical or travel.";}
}

[data-site="changemyflights_com"] {
    .text::before {content: "Changemyflights is one of the top-rated travel booking companies proffer its support on all sorts of queries related to travel whether it's flight booking or other. They have a team of highly qualified and skilled professionals who always resolve the multiple problems of customers in a very simple manner. From flight booking to flight change, and flight cancellation to check-in, they help you in all terms.";}
}

[data-site="cheapflightinfo_com"] {
    .text::before {content: "Booking procedure is very simple. You can book your ticket online, the details of flight and lowest fare will be shown on the screen and as per your requirement you book your ticket. They offers two option, i.e. find cheap ticket by destination and find cheap ticket by airline. You can opt anyone as per your requirement.";}
}

[data-site="codingversity_org"] {
    .text::before {content: "Codingversity offers you the most comprehensive training on methodology as per the industry standards. Codingversity not only aims at discussing the concept but also empowers the learners and practitioners to practically implement in projects across industries.";}
}

[data-site="contactforhelpnumber_com"] {
    .text::before {content: "This website provides expert technical support services for all kinds of Antivirus Program, Browser, Routers and Modems, Printers and email related problems.";}
}

[data-site="csversity_org"] {
    .text::before {content: "Cyber Security University popularly known as CS-Versity is a Part of World Renowned Research and Executive Education organisation International Center for Advance Studies and Research (ICASR), is the world’s largest cyber security technical certification body. They operate in more than 60 countries globally and they are the owner and developer of the Ethical Hacking Professionals (EHP), Computer Hacking Forensics Professionals (CHFP), International Security Analysis Professionals (ISAP). They are proud to have trained and certified over 85,000 information security professionals globally that have change the face of cyber security countless in organizations around the world.";}
}

[data-site="dmversity_org"] {
    .text::before {content: "Digital Marketing University popularly known as DMVersity is a Part of World Renowned Professional Certification Organisation “The Certification Versity, LLC” (TCV). They are one of the world’s largest Digital Marketing certification body, operating in more than 60 countries globally. They are the owner and developer of the Digital Marketing Professionals (DMP) Program.";}
}

[data-site="dsversity_org"] {
    .text::before {content: "DSVersity offers you the most comprehensive training on methodology as per the industry standards. DSVersity not only aims at discussing the concept but also empowers the learners and practitioners to practically implement in projects across industries.";}
}

[data-site="ebiztown_com"] {
    .text::before {content: "Ebiztown is providing information about different industries through blog or articles. People can also add questions and answers through Ebiztown.com.";}
}

[data-site="emailcustomerservicehelp_com"] {
    .text::before {content: "Emailcustomerservicehelp.com is an independent email and printer service provider for variety of third party products.";}
}

[data-site="fareodeal_com"] {
    .text::before {content: "Fareodeal is a travel website which searches and compares the best offers on various flights, hotels and car rentals. They are absolutely free and never add booking fees. Also, they never use your cookies to increase prices.";}
}

[data-site="faresboutique_com"] {
    .text::before {content: "Faresboutique is a travel website which searches and compares the best offers on various flights, hotels and car rentals. They are absolutely free and never add booking fees. Also, they never use your cookies to increase prices.";}
}

[data-site="faresglob_com"] {
    .text::before {content: "Faresglob is an online travel portal used for the booking of flight seats in different airlines. Today the travel and the tourism is one of the greatest and most unique ventures on the planet. You can make your travel experience awesome by travelling using faresglob.com as it serves domestic and international flights around the world. They have a team of well-trained professionals who will make sure that you get the best services and proper assistance.";}
}

[data-site="fareskhalifa_com"] {
    .text::before {content: "Fareskhalifa is one of the best online travel companies that proffer affordable services for flight booking, hotel booking, car rental and more. They are the leader in this industry and have experience for several years in providing travel related services. Their best in class and affordable services make them the best among the travelers for choosing the best travel companies for multiple things.";}
}

[data-site="flycoair_com"] {
    .text::before {content: "Flycoair is one of the spacious destinations for booking your flight, hotel, and car rental stop destination for online hotel booking in the USA at affordable prices of airlines which no other web services are going to offer to the travelers and instant customer support for any of the underlying issues or queries. The services have been offered to all dedicated travelers for more than a decade making it the first choice for millions of travelers all across the world. If you have a limited budget in your mind just go for it. They are able to get the desired service at that budget then Flycoair should be your destination. Just switch on the tabs in order to get to know their services in a better manner. There are so many ways to book your flight online.";}
}

[data-site="fortuneserve_com"] {
    .text::before {content: "Fortuneserve.com to serve an information using independent way. They do not affiliated with any brand in any ways nor get paid to provide support to users.";}
}

[data-site="gethelpnumber_com"] {
    .text::before {content: "This Directory Website is one of the information leader who write the informative and excellent articles or blog related to Internet, emails, printers, banks, account software, Travel etc. Most of reader stuck in many cases when they need any help or search how to find the troubleshooting guide related to their problems so this website provide many articles or related blogs where you can find relative information.";}
}

[data-site="globalinfonic_com"] {
    .text::before {content: "Globalinfonic.com is an online information provider. They provide information about all type of software related issues for Routers, Printers, Laptops and many more. They are here to provide phone numbers of various companies, direct links to corporate customer service and other information to their visitors.";}
}

[data-site="gmailfaqs_com"] {
    .text::before {content: "They offer Gmail Technical Assistant for Gmail.";}
}

[data-site="gmailsphonenumber_com"] {
    .text::before {content: "This is a informational website. Which helps gmail technical support.";}
}

[data-site="gmailsupportpedia_com"] {
    .text::before {content: "GmailSupportPedia.com is an independent support company providing online solutions regarding email technical issues.";}
}

[data-site="guidebuz_com"] {
    .text::before {content: "Guidebuz is not associated with any technical assistance services or support. They are just trying to help our users by recommending on the basis of users review.";}
}

[data-site="helplinenos_com"] {
    .text::before {content: "Here they provide the best & effective solution so that they can help users regarding the issues. Helplinenos Deals with the services of various products related to Mail, Hardware,Browser, Software & various (Apple, Windows, iPhone, MAC, Internet Explorer, Internet ) other services too. They work with the team of experts who are available to help the users.";}
}

[data-site="helpquicky_com"] {
    .text::before {content: "HELPQUICKY is informational website that is not associated with any brand, technical assistance services or support.";}
}

[data-site="helpskey_com"] {
    .text::before {content: "Helpskey is a platform that is delivering enhanced value in IT to its customers through service and process solutions. They are a rapidly growing platform with excellence in services and processes. Helpskey guarantees elevation for businesses and enables them to face current challenges in the best approach.";}
}

[data-site="helptechsupportnumber_com"] {
    .text::before {content: "Helptechsupportnumber provides the best useful information to customers and they are not directly associated with any brand or other company that are mention in this website.";}
}

[data-site="herehelpu_com"] {
    .text::before {content: "This is an information provider website. This is an open platform where anyone can add or post information through post your blog / post your services section.";}
}

[data-site="hotmailcustomercare_com"] {
    .text::before {content: "Advanced versions of Hotmail like 'Wave 2 'and 'Wave 3', Windows Live Hotmail etc. have various features that makes Hotmail advanced and popular. The technical support for Hotmail is also very strong and thus hotmail users can get effective solutions. This is also a reason, why people use hotmail. Technical problems come now and then with any technology or emailing service. The important things are how to solve it as soon as possible. Many issues user can resolve by them but many times they require a better tech support. Hotmail Customer Care is a service which is completely dedicated to the customers.";}
}

[data-site="hotmailtechsupport_com"] {
    .text::before {content: "This is an independent information and solution provider for Hotmail & there is no affiliation with any brand name companies unless this affiliation is particularly specified.";}
}

[data-site="hubcustomersupport_com"] {
    .text::before {content: "The website is an independent information provider and it does not have any affiliation with the third party. The information provided by them to resolve any kind of technical or nontechnical issue related to the brand or goods.";}
}

[data-site="infohouze_com"] {
    .text::before {content: "This is a information provider website. Which gives technical solve information about the Internet Service, Banking and Finance, Computer Software, Travel, Computer Hardware, Media Services Details, Automative & Upcoming Company.";}
}

[data-site="infoopedia_com"] {
    .text::before {content: "Infoopedia is the best place to get information about a number of companies in different fields so that you can get to know the company well before making any investment with them or purchasing any of their products or services. Besides this, you can also see customer reviews and ratings of different companies and get help to make your decision more wisely.";}
}

[data-site="instohelp_com"] {
    .text::before {content: "Instohelp.com is independent information & solution provider for various services that's information is contained in this website.";}
}

[data-site="invoicefundingsolutions_com"] {
    .text::before {content: "They have the best & most affordable options to help you grow your business. They are in business to help SMEs across the United Kingdom. They are in a position to offer you your cash in a fraction of that time, while your customers continue without interruption to their agreed payment schedule.";}
}

[data-site="isupportnumber_com"] {
    .text::before {content: "Isupportnumber.com is information provider website. They have no linked with any Brand Name.";}
}

[data-site="itfixtech_com"] {
    .text::before {content: "Their tech support company offers the comfortable way to resolve the issue on the reasonable prices by using the online resources such as: Chat and email support service, Telephonic voice calls support service, Remote access support service & Toll free number";}
}

[data-site="ithelpnumber_com"] {
    .text::before {content: "Ithelpnumber.com is a most excellent information website that provides various contact details and info of Airlines, Banks and various other companies. Also They have a team of well-qualified and experienced techies who can resolve every kind of Internet, Mobiles, and PCs related issues within a short span of time.";}
}

[data-site="learnaside_com"] {
    .text::before {content: "LearnAside is here to solve all your queries related to the digital world. This website is one of the most preferred and appreciated and has reached at this point with lots of effort and a great legacy. They provide you with an informative, simple to understand the content and have more than 50 professionals working for you. They offer a dedicated service to satisfy their clients by delivering rich service with the effect of confirming that they get to benefit from your experiences. They also make a target to make it different for the users in anything that they serve to you.";}
}

[data-site="learningua_com"] {
    .text::before {content: "They at Learningua.com offer a plethora of courses to chose from Leading Universities, Training Institutes, Cultural Institutions and Expert Trainers from around the world. All this with just one click, through their Live Online Modules and Practice Sessions which can be paced at one's own convenience to learn more effectively. Their team ensures that once you are with them on board, you get access to all essential aspects online through mobile, tablet, desktop or systems perfectly blending your learning with your day to day lifestyle. Learning with them is joyful and an experience in itself at every step. The objective is to ensure life long learning and not just providing mere information. It's your one stop point to avail the best opportunity and come up with innovative ideas to cut the edge in the market today.";}
}

[data-site="livegeekschat_net"] {
    .text::before {content: "Their services offer to resolve very much reliable and authentic. Customers really appreciate the technicians for their wonderful support.";}
}

[data-site="lookatfares_com"] {
    .text::before {content: "Traveling and going on a vacation is that part of the life that everyone wants to experience. With the wealth of information that is available on the internet, the choices are in abundant that actually put people in a lot of confusion. It is for this reason that we need proper guidance of the experienced professional travel consultant like lookatfares that will arrange your travel and your vacation in a way that you will never be discontented. So, from providing you the amenities related to your travel to customizing your trip, the travel resources of lookatfares is the best travel resource for you.";}
}

[data-site="majestytravels_com"] {
    .text::before {content: "Majesty travels is an international flight search site that helps you compare and find your cheapest flight deals. They specialize in domestic USA air travel and USA to South America airfare by comparing over 400 airlines. Using their state of the art technology, they scan the web for great deals and bring you to the comfort of your home. Their booking process is quick and easy and they have 24x7 email, chat, and phone support so you can book with confidence. Whether you are planning a trip for business, pleasure or just browsing for the vacation deal of your dreams; Majesty Travels will make sure your search and booking experience is unrivaled.";}
}

[data-site="myfaresadda_com"] {
    .text::before {content: "Myfaresadda has been established with the aim of creating luxury holidays, unrivaled escorted tours. Apart from providing you with the list of packages to the exotic locations, they also customize the packages according to your requirement. The expert team that they have, takes pride in your thoughtful approach to plan your holiday. They find out the way of making your vacation an extra special and then help you to create your dream holiday. So, come and talk to them about your plans and the desired destinations and then you will realize why their clients return again and again to them.";}
}

[data-site="myteches_com"] {
    .text::before {content: "They provide assistance in planning, installation, training, trouble shooting, maintenance & upgrading of the product. They also provide online technical support with the help of our trained technicians & engineers who provide you with immediate resolutions. Their team diagnose the issue that your facing and accordingly provide you with the solution. As their technicians has wide range of experience in working with system problems, so they are able to understand the required necessity of the technology in front of you and also different other ways to improve, how you can use the technology and resolve that particular issue.";}
}
[data-site="nitroinfotech_com"] {
    .text::before {content: "Success for an online business greatly depends upon its online presence. They create exact replica of your imaginations by using services that are Fast – Reliable – Reasonably priced.";}
}

[data-site="nobelapp_net"] {
    .text::before {content: "Nobelapp is a simple front-end for your Nobelapp web conferencing server. You can create your own rooms to host sessions, or join others using a short and convenient link.";}
}

[data-site="numberforhelp_com"] {
    .text::before {content: "This is an informatory website for new and existing technology terms, they hereby disclaim any affiliation, sponsorship & endorsement of, or by any third party & the number which is using into the website our individual number. From Numberforhelp.com users can get all troubleshooting information related to technical issues.";}
}

[data-site="numberreviews_com"] {
    .text::before {content: "Numberreviews provides information about the companies, brands & websites phone number which are reviewed by the users. Numberreviews proprietary formula calculates reputation score on scale of 0 to 100 in % where 0% being the least score & 100% being the highest score. You can search for any particular name of the company & give your feedback in comment section or you can update the information of any listing if you think it needs any correction.";}
}

[data-site="nyitm_com"] {
    .text::before {content: "NYITM is a main stage which gives the guide to a considerable lot of the experts crosswise over different divisions to enable the people to pick up the skill, conquering any hindrance for the development in the corporate world. Programming Development, IT, Project Management, Quality Assurance are a portion of the fields that are centered around an association. The best of preparing is given in their association in the field of the executives and advances which includes a useful and creative methodology.";}
}

[data-site="psupportnumber_com"] {
    .text::before {content: "They are an independent service provide and they offer remote technical support for various third party products and services.";}
}

[data-site="pwsupportnumber_com"] {
    .text::before {content: "Welcome to PWSUPPORT number and experience the best customer service offered by them. They cater clients from all around the world with their professionally managed technical team. They provide round the clock services to their customers and design customer centric solutions always. PWSUPPORT is known for their dedicated and professional approach and regarded as one of the best IT and networking customer support provider. Their customer service number is available 24X7 and offer affordable service at your disposal.";}
}

[data-site="questohub_com"] {
    .text::before {content: "They are the leading and autonomous technical support provider for different third party products and services. They provide only remote support for a portfolio of services, which are offered by other third party companies.";}
}

[data-site="quickcaribbean_com"] {
    .text::before {content: "QuickCaribbean is one of the best online travel companies provide lots of travel services. From planning a trip to choose a destination, they will help you with multiple things. They have designed lots of travel packages according to the customer's needs and one can choose any one as per their preferences. Their travel packages are highly affordable and one can afford them without any much of stretch.";}
}

[data-site="quicklatino_com"] {
    .text::before {content: "This website is in spanish language. Quicklatino travels is an international flight search site that helps you compare and find your cheapest flight deals.";}
}

[data-site="quickosupport_com"] {
    .text::before {content: "This is a tech support website. In this website, You can get technical help.";}
}

[data-site="quicktechnicalsupport_com"] {
    .text::before {content: "Quicktechnicalsupport.com is online information provider resource. Quicktechnicalsupport do not manage any kind of technical support services.";}
}

[data-site="reservationsdeal_com"] {
    .text::before {content: "They're driven by new technological trends, years of experience, and the willingness to serve the passengers as per their exact needs. Being the pioneer of the online travel industry, they have come up with a new revolution for millions of people who travel a lot or aspire to travel. Here, at ReservationsDeal, they aim in the ticket or hotel booking process easier and less time-consuming. A team of dedicated professionals is putting tremendous efforts in changing the scenario of the current phase of the travel industry.";}
}

[data-site="reservationssticket_com"] {
    .text::before {content: "Reservationss.com only a travel agent, they serve as a bridge between the travelers and another economic procedure of travel services as tickets, hotel, and other bookings.";}
}

[data-site="snva_com"] {
    .text::before {content: "SNVA is a design studio founded in United States. Nowadays, they've grown and expanded their services, and have become a big firm, offering a variety of services and solutions Worldwide.";}
}

[data-site="ss-geeks_com"] {
    .text::before {content: "SS-Geeks is one of the largest onsite and online computer technical support service providers in the world with tech support services available for customers from countries like United States, United Kingdom and Canada. They as a team facilitate quick and effective tech support service for PCs, Macs, laptops, tablets, smartphones and other mobile devices. With a huge work force comprising live tech experts and solution engineers they strive to make tech support a service that can define convenience and excellence for their global customers. Their support consultants have a wide range of Certifications, which include but are not limited to: A+, MCP, CCNA, MCSE, CCNP, Net+. Red Hat, Linux and Mac OS (Apple).";}
}

[data-site="tecask_com"] {
    .text::before {content: "Tecask is a platform which helps you when face problem and need support, get the answers for your queries in quick time for any domain. The assistance from the support team will help in any kind of issues. Here you can get relevant information related to any kind of problem in shortest span of time. You can get in touch with the help of different methods according to you need. In this busy professional life style people need fast solution for problems and tecask helps you by providing the best and relevant information through various mediums. The focus is on relevancy, time, availability etc and all these factors are covered positively to help users. Make the best use of the platform and get various issues and problems solved in minimum time period. There are many ways to get in touch with us through email, online, chat, phone number etc. Get the best from the best.";}
}

[data-site="thelabelbar_com"] {
    .text::before {content: "This is a online shoping ecommerce website. Which sales products.";}
}

[data-site="thelivexperts_com"] {
    .text::before {content: "Thelivexperts.com is live assistance provider for many issues.";}
}

[data-site="tracingpage_com"] {
    .text::before {content: "Tracingpage is a Local service provider company which is based in united states and serve the local area for the authentic services in your areas as you all know some kind of needs by people can not be resolve from their end so that they fulfil that area for your comfort so they are most welcome of yours when you feel proud to be the service from their technicians. So, the services are like Electronic service, snow removal helper, duct cleaning service, heating and A/C repairing, Plumber needs, computer and hardware repair technicians, Land scaping, Carpet cleaning, house cleaning and all you can see on the home page of this website.";}
}

[data-site="tripocost_com"] {
    .text::before {content: "Tripocost is one of the top-rated USA based travel company provides best in class traveling services. Being one of the fastest-growing travel company, it proffers a to z traveling services that make it one of the best choice among the travelers. It is a one-stop place for Air ticket booking, accommodation reservation, hotel booking, packaged tours, corporate travel management, etc. Tripocost proffers a complete suite of travel related which are given by 1000+ trusted suppliers across the world. There are varied ways in which Tripocost proffer its services via a highly secure website, robust, corporate platform, toll-free, 24-hour customer service.";}
}

[data-site="vic2soft_com"] {
    .text::before {content: "Success for an online business greatly depends upon its online presence. They create exact replica of your imaginations by using services that are Fast – Reliable – Reasonably priced.";}
}

[data-site="way2career_co"] {
    .text::before {content: "Way2career is one of the leading certification training providers which launches learning program in the field of IT, Project Management, Quality assurance and in other domains. Being a trusted partner with some of the technology driven certification bodies, they believe to empower IT professionals.";}
}

[data-site="ysupportnumber_com"] {
    .text::before {content: "Ysupportnumber is basically providing information to ther users who are looking for technical issues or problems related to email’s, printer, modem, router, antivirus etc. They are providing online blogs where user can get the solutions of various problems. The blogs may be using some brand name as to just provide useful information to the user.";}
}

[data-site="versity_in"] {
    .text::before {content: "If you are someone who aspires to create an identity in the business world then Versity is the ideal place for you. Known as a well-established institute of education and research in the USA, Versity has given countless trained professional experts to different industries.";}
}


[data-site="holidaytanks_com"] {
    .text::before {content: "This is a website of travel. This website offers online travel services across the world for years at rock-bottom prices. This website brought up a new revolution in the field on travel and tourism industry.";}
}

[data-site="flightszoom_co_uk"] {
    .text::before {content: "This is a website of travel and tourism. This website offers online travel services across the world for years at rock-bottom prices. This website brought up a new revolution in the field on travel and tourism industry.";}
}

[data-site="flightszoom_com"] {
    .text::before {content: "This is a website of travel and tourism. This website offers online travel services across the world for years at rock-bottom prices. This website brought up a new revolution in the field on travel and tourism industry.";}
}

[data-site="phdversity_com"] {
    .text::before {content: "This is a website of education. This website offers many professional education courses in the field of Management, IT, Health Care, Engineering and Technology, Project Management, Quality Assurance and many more for the courses ranging from Under Graduate Programs to Research Programs worldwide.";}
}

[data-site="aasthahomes_com"] {
    .text::before {content: "This is a website of Charity. It is provide shelter, nutritious food, medical care 24X7, caregivers, roadside pickup, final rites as per religion, recreational activities and hygienic environment to helpless elderly found on the streets of Delhi NCR, Those who are struggling for a meal & have no place to stay.";}
}

[data-site="travomint_co_uk"] {
    .text::before {content: "This is a website of travel. This website offers online travel services across the world for years at rock-bottom prices. This website brought up a new revolution in the field on travel and tourism industry.";}
}

[data-site="travomint_com"] {
    .text::before {content: "This is a website of travel. This website offers travel services to almost every country in the world at an affordable price.";}
    .notes::before{content:"This website name is in India's top 15 flights ticket booking.";}
}

[data-site="traveloes_co_uk"] {
    .text::before {content: "This is a website of travel. This website offers online travel services across the world for years at rock-bottom prices. This website brought up a new revolution in the field on travel and tourism industry.";}
}

[data-site="traveloes_com"] {
    .text::before {content: "This is a website of travel. This website offers online travel services across the world for years at rock-bottom prices. This website brought up a new revolution in the field on travel and tourism industry.";}
}

[data-site="cheapflightadvisor_com"] {
    .text::before {content: "This is a website of Flight Tickets. This website offers Premium flying options, Unmatched In-Flight Entertainment, Friendly Cabin Crew Staff, Affordable Flight Booking Deals, An opportunity to fly to innumerable destinations, Online booking, Cancelling services, Online check in and flight status services.";}
}

[data-site="flightrouteinfo_com"] {
    .text::before {content: "This is a website of flight tickets. This website offers Premium flying options, Unmatched In-Flight Entertainment, Friendly Cabin Crew Staff, Affordable Flight Booking Deals, An opportunity to fly to innumerable destinations, Online booking, Cancelling services, Online check in and flight status services.";}
}

[data-site="onlinegamesupportplus_com"] {
    .text::before {content: "This is a website of online game support. This website helps to resolve all the game associated problems. This website is under process.";}
}

[data-site="routersupportplus_com"] {
    .text::before {content: "This is a website of routers support. This website helps to resolve all the router associated problems.";}
}

[data-site="printersupportplus_com"] {
    .text::before {content: "This is a website of printer support. This website helps to resolve all the printer associated problems.";}
}

[data-site="antivirusupportplus_com"] {
    .text::before {content: "This is a website of antivirus support. This website helps to resolve all the antivirus associated problems.";}
}

[data-site="desktopsupportplus_com"] {
    .text::before {content: "This is a website of desktop support. This website helps to resolve all the antivirus associated problems.";}
}

[data-site="emailsupportplus_com"] {
    .text::before {content: "This is a website of email support. This website helps to resolve all the email associated problems.";}
}

[data-site="computerssupportplus_com"] {
    .text::before {content: "This is a website of computer support. This website helps to resolve all the computer associated problems.";}
}

[data-site="mobilesupportplus_com"] {
    .text::before {content: "This is a website of mobile support. This website helps to resolve all the mobile associated problems.";}
}

[data-site="webmailsupportplus_com"] {
    .text::before {content: "This is a website of web mail support. This website helps to resolve all the web mail associated problems.";}
}

[data-site="internetsupportplus_com"] {
    .text::before {content: "This is a website of internet support. This website helps to resolve all the internet associated problems.";}
}

[data-site="browsersupportplus_com"] {
    .text::before {content: "This is a website of browser support. This website helps to resolve all the browser associated problems.";}
}

[data-site="hardwaresupportplus_com"] {
    .text::before {content: "This is a website of hardware support. This website helps to resolve all the hardware associated problems.";}
}

[data-site="modemsupportplus_com"] {
    .text::before {content: "This is a website of modem support. This website helps to resolve all the modem associated problems.";}
}

[data-site="laptopsupportplus_com"] {
    .text::before {content: "This is a website of laptop support. This website helps to resolve all the laptop associated problems.";}
}

[data-site="websitesupportplus_com"] {
    .text::before {content: "This is a website of website support. This website helps to resolve all the website associated problems.";}
}

[data-site="passwordrecoverysupportplus_com"] {
    .text::before {content: "This is a website of password recovery support. This website helps to resolve all the password recovery associated problems.";}
}

[data-site="windowssupportplus_com"] {
    .text::before {content: "This is a website of windows support. This website helps to resolve all the windows associated problems.";}
}

[data-site="echeck360_com"] {
    .text::before {content: "This is a website of online payment. This website provides client centered, result driven, online payment solutions that are geared towards saving our clients time and increasing their revenue.";}
}

[data-site="uni_versity_in"] {
    .text::before {content: "This is a website of education. This website offers courses specially for Part-time and Distance Learning Education in India for working professionals.";}
}

[data-site="sixsigmaversity_org"] {
    .text::before {content: "This is a website of education. This website offers Six Sigma various Certification.";}
}

[data-site="laruetreefarm_com"] {
    .text::before {content: "This is a website of tree plantation. This website offers trees & plants. This website is under process.";}
}

[data-site="uhawaii_org"] {
    .text::before {content: "This is a website of education. This university has been offering award-winning online learning programs that enable students worldwide to pursue their educational goals and earn a college degree from this University.";}
}

[data-site="edukasion_com"] {
    .text::before {content: "This is a website of education. This website offers many courses.";}
}
[data-site="highriskgateway_in"] {
  .text::before { content: "This is a website of online installment handling. This website provides Credit/Debit Card Processing Service."; }
}

[data-site="honorary_phd_com"] {
  .text::before { content: "This is a website of education. This website offers international honorary Ph.d. from the global universities."; }
}

[data-site="icasr_org"] {
  .text::before { content: "This is a website of education. This organisation established in United States. This is providing quality education in the field of Management, Computer Science, Technology and Health Care."; }
}

[data-site="american_uni"] {
  .text::before { content: "This is a website of education. This website is under process."; }
}

[data-site="ehelplinenumber_com"] {
  .text::before { content: "This is a website of tech support. This website provides the services of banking, webmail, media, shipping, car rentals, accounting software and airlines."; }
}

[data-site="quicktechnicalsupport_com"] {
  .text::before { content: "This is a website of tech support. This website provides the services of e-mail support, router support, product support and account recovery."; }
}

[data-site="anpuhelp_com"] {
  .text::before { content: "This is a website of tech support. This website provides the services of internet, airlines, bank and antivirus."; }
}

[data-site="askbuz_com"] {
  .text::before { content: "This is a website of tech support. This website provides informational website that is good at providing effective guidance and support for email, printer, antivirus and browser to the clients who are looking out for extremely good technical support."; }
}

[data-site="instanttfn_com"] {
  .text::before { content: "This is a website of tech support. This website provides printer, antivirus, e-mail and router services."; }
}

[data-site="fixtechhelp_com"] {
  .text::before { content: "This is a website of tech support. This website provides e-mail, antivirus, router, browser, printer and product services."; }
}

[data-site="etechhelps_com"] {
  .text::before { content: "This is a website of tech support. This website provides e-mail, router, browser, printer and other services."; }
}

[data-site="vikuhelp_com"] {
  .text::before { content: "This is a website of tech support. This website provides antivirus, e-mail, browser, printer, laptop, router, social media, travel and other services."; }
}

[data-site="searchangout_com"] {
  .text::before { content: "This is a website of tech support. This website provides e-mail, browser, router, payment, travel and other services."; }
}

[data-site="bigpbx_com"] {
  .text::before { content: "This is a website of VOIP (Voice Over Internet Protocol) services. This website provides VOIP services across the world."; }
}

[data-site="cyberzoomlabs_com"] {
  .text::before { content: "The work is under process in this website."; }
}

[data-site="buzzmeweb_com"] {
  .text::before { content: "This is a information provider website. By this website the users find information about emails, printers, browsers and antivirus related technical issues."; }
}

[data-site="travel26_com"] {
  .text::before { content: "This is a website of travel. This website is under process."; }
}

[data-site="itphonenumber_com"] {
  .text::before { content: "This is a website of tech support. This website provides e-mail, browser, router, antivirus, printer, travel, education and other services to all over the world."; }
}

[data-site="ifixscotland_com"] {
  .text::before { content: "This is a website of mobile & computer repair services. This website provides Smartphones, Laptops, PCs, Tablets, iPhones, iPads and iPods repair services."; }
}

[data-site="executivemba_online"] {
  .text::before { content: "This is a website of education. This website offers courses."; }
}

[data-site="subharti_uni"] {
  .text::before { content: "This is a website of education. This website offers distance learning and part time education in India."; }
}

[data-site="careerera_com"] {
  .text::before { content: "This is a website of education. This website offers professional education in the field of IT, Software Development, Project Management, Quality Assurance and many more."; }
  .notes::before{content: "Careerera was awarded by the Times of India for its contribution to online education.";}
}

[data-site="cheapflighto_net"] {
  .text::before { content: "This is a website of flight tickets. This website offers Premium flying options, Unmatched In-Flight Entertainment, Friendly Cabin Crew Staff, Affordable Flight Booking Deals, An opportunity to fly to innumerable destinations, Online booking, Cancelling services, Online check in and flight status services."; }
}

[data-site="nextecdubai_com"] {
  .text::before { content: "This is a website of education. This website offers diverse selection of courses from prominent universities, training facilities, cultural institutions and individual trainers globally, in live online mode and online self paced mode courses."; }
}

[data-site="vizmedia360_com"] {
  .text::before { content: "This is a website of IT solutions. This website offers digital marketing & all type of web solutions."; }
}

[data-site="computersrevolution_com"] {
  .text::before { content: "This was the tech support website. Which offered computer services."; }
}

[data-site="flightsbuddy_co_uk"] {
  .text::before { content: "This was the website of flight tickets. This website offered Premium flying options, Unmatched In-Flight Entertainment, Friendly Cabin Crew Staff, Affordable Flight Booking Deals, An opportunity to fly to innumerable destinations, Online booking, Cancelling services, Online check in and flight status services."; }
}

[data-site="bookmyflightticket_com"] {
  .text::before { content: "This is a online ticketing website. This website provides the online flight booking services in USA."; }
}

[data-site="onsitetechies_org"] {
  .text::before { content: "This was the tech support website. This website offered services."; }
}

[data-site="flightstrade_com"] {
  .text::before { content: "This is a website of flight tickets. This website offers Premium flying options, Unmatched In-Flight Entertainment, Friendly Cabin Crew Staff, Affordable Flight Booking Deals, An opportunity to fly to innumerable destinations, Online booking, Cancelling services, Online check in and flight status services."; }
}

[data-site="etechys_com"] {
  .text::before { content: "This is a website of tech support. This website provide the infomational services of email, browser, antivirus, printer, router, product and phone directoried."; }
}

[data-site="gmailsphonenumber_com"] {
  .text::before { content: "This is a website of tech support. This website supports for email issues."; }
}

[data-site="epasswordrecovery_com"] {
  .text::before { content: "This is a website of tech support. This website provide the services of google, email, twitter, wifi, facebook, skype and youtube informational services."; }
}

[data-site="supportonphone_com"] {
  .text::before { content: "This is a website of tech support. Which offers email, printer, router, brand and browser informational services."; }
}

[data-site="fasttechhub_com"] {
  .text::before { content: "This is a website of tech support. Which offers computer, travel, education, banking, internet and companies informational services."; }
}

[data-site="bba_admission_com"] {
  .text::before { content: "This is a website of education. This website offers BBA."; }
}

[data-site="bca_admission_com"] {
  .text::before { content: "This is a website of education. This website offers BCA."; }
}

[data-site="mbaadmission2018_com"] {
  .text::before { content: "This is a website of education. This website offers MBA."; }
}

[data-site="bed_admission_in"] {
  .text::before { content: "This is a website of education. This website offers B.Ed."; }
}

[data-site="cyberzoom_net"] {
  .text::before { content: "This is a website of IT services. This website offers Register Domain Name, View Domain Pricing, Bulk Domain Register, Bulk Domain Transfer, Whois Lookup, Name Suggestion Tool, Free with Every Domain, View Promos, Linux Hosting, Windows Hosting, Wordpress Hosting, Linux Reseller Hosting, Windows Reseller Hosting, Dedicated Servers, Managed Servers, Cloud Hosting, Website Builder, Impress.ly, Weebly, Business Email, Enterprise Email, SSL Certificates, Sitelock, Codeguard and Combo Offers."; }
}

[data-site="eximiussolution_com"] {
  .text::before { content: "This is a ecommerce website. Which was saled online system security."; }
}

[data-site="fareguru_co_uk"] {
  .text::before { content: "This was the travel website. This website was offered travel services to almost every country in the world at an affordable price."; }
}

[data-site="faretrolly_com"] {
  .text::before { content: "This was the travel website. This website was offered travel services to almost every country in the world at an affordable price."; }
}

[data-site="faretrust_co_uk"] {
  .text::before { content: "This is a website of travel. Which offer travelers ease of booking travel destinations online at rock-bottom prices"; }
}

[data-site="faretrust_com"] {
  .text::before { content: "This is a website of travel. Which offer travelers ease of booking travel destinations online at rock-bottom prices"; }
}

[data-site="gizmomarvel_com"] {
  .text::before { content: "This is a website of tech support. This website offers the services of desktop, laptop computers, servers, network solution, printer server, smartphones and it firewall."; }
}

[data-site="itechnoinc_net"] {
  .text::before { content: "This is a website of tech support. Which offers the sevice of antivirus, security software, microsoft windows, computer tune-up, virus and malware removal."; }
}

[data-site="onetechies_com"] {
  .text::before { content: "This is a website of tech support. This is a website of IT repair service provider."; }
}

[data-site="onsitesolution_org"] {
  .text::before { content: "This is a website of tech support. This website is providing service to customers throughout California since 2014. From equipment sales and support, This website is your complete technology solutions and support provider. Which offers router support, printer support, Password Recovery Training, Password Setup Training, Email Marketing Training, SMS Marketing Training, Digital Marketing Analytics Training and Social Media Management Training."; }
}

[data-site="passwordresetsupportplus_com"] {
  .text::before { content: "This is a website of tech support. Which provides the services of password reset of computer and mobile."; }
}

[data-site="reservationss_com"] {
  .text::before { content: "This is a website of tech support. This website just tries to help our users by recommending on the basis of users review, recommendation & feedback."; }
}

[data-site="scrumversity_org"] {
  .text::before { content: "This is a website of education. This website offers SCRUM certification course. SCRUM is a certification course that helps the professionals in organizing the company with improved level of project management."; }
}

[data-site="snvabpo_com"] {
  .text::before { content: "This is a website of tech support. Which offers the services of Enterprise Technical Support, Consumer Tech Support Services, Premium Technical Support, Lead Generation, Customer Service Solution, Customer Acquistion and Market Research."; }
}

[data-site="tophelpline_com"] {
  .text::before { content: "This is a website of tech support. Which provides the information about Finance, Media, travel & internet."; }
}

[data-site="touraza_com"] {
  .text::before { content: "This is a website of tech support. This website just tries to help our users by recommending on the basis of users review, recommendation & feedback."; }
}

[data-site="travohelp_com"] {
  .text::before { content: "This is a website of travel services. Which solely act as an agent, This website makes a bridge between travelers and economic process of travel services regard flight tickets, hotels and other travel services."; }
}

[data-site="travomart_com"] {
  .text::before { content: "This is a website of travel services. Which solely act as an agent, This website makes a bridge between travelers and economic process of travel services regard flight tickets services."; }
}

[data-site="vialra_com"] {
  .text::before { content: "This is a ecommerce. Which was saled online system security."; }
}