header{@extend %fc;background:var(--f1);padding-block:12px;position: sticky;top:0;z-index: 999;
    .fw{display: flex;align-items: center;justify-content: space-between;column-gap: 16px;}
    .logo{display: flex;flex-shrink: 0;
        > img{width: 170px;}
    }
    nav{display: flex;gap:4px 36px;
        > a{color:#fff;
            &.active, &:hover, &:active, &:focus{color:var(--cb2);}
        }
    }
}

@media (max-width:575px){
    header .logo > img {width: 160px;}
    header nav{white-space: nowrap;flex-wrap: wrap;justify-content: flex-end;gap:4px 20px;}
}