@charset "UTF-8";
.childhood{margin:0;position: relative;background: #eee;}
.childhood::before{width:50%;height:100%;position: absolute;content:"";background: #30e389;top:0;left:0;}
.childhood .left{width:100%;float:left;padding-right: 15px;text-align: right;position: relative;color:#fff;}
.childhood .right{width:100%;float:left;padding-left: 15px;position: relative;}
.childhood .left > *{width:100%;float:left;line-height: 1.3;}
.childhood .left > i{font-size: 40px;}
.childhood .left > b{font-size: 50px;font-family: bold;color:#fff;}
.childhood .right > *{width:100%;float:left;margin-bottom: 10px;}
.childhood .right b{color:#323232;}
.childhood .right a{display: inline-block;color:#e22f45;margin-bottom: 20px;font-weight: bold;}
.childhood .right a:hover, .childhood .right a:active, .childhood .right a:focus{color:#2cc7cb;}

.childhood_images{margin:0;padding:0;}
.childhood_images > li{width:25%;float:left;list-style: none;}
.childhood_images > li > a{width:100%;float:left;}
.childhood_images > li > a > img{width:100%;float:left;}

.childhood_images.childhood_page{width:100%;float:left;margin:0 0 30px;}
.childhood_images.childhood_page > li{width:50%;}

@media (min-width:768px) and (max-width:991px)
{
    .childhood .left > i{font-size:33px;}
    .childhood .left > b {font-size:43px;}
    .childhood_images.childhood_page > li{width:25%;}
}
@media (max-width:767px)
{
    .childhood::before{width:100%;}
    .childhood .left{text-align: left;margin-bottom: 20px;}
    .childhood .right{padding-left:0;}
    .childhood .right > *{color:#fff;}
    .childhood .right a{color:#323232;}
}
@media (min-width:621px) and (max-width:767px)
{
     .childhood_images.childhood_page > li{width:25%;}
}
@media (max-width:620px)
{
    .childhood_images > li{width:50%;}
    .childhood_images.childhood_page > li{width:50%;}
}
@media (min-width:461px) and (max-width:620px)
{
    .childhood .left > b {font-size:42px;}
}
@media (max-width:460px)
{
    .childhood .left > i{font-size:20px;}
    .childhood .left > b {font-size:19px;}
    .childhood .right > *{text-align: justify;}
}