footer{margin-top: auto;background: var(--f1);color:#fff;@extend %fc;
    .top, .bottom{width: 100%;@extend %fc;}
    .top{padding-block: 64px;}
    .bottom{background: var(--c1);}
    .row{row-gap: 40px;}
    .logo{display: flex;width: 150px;margin-bottom: 20px;}
    .hd{display: flex;font-size: 24px;font-weight: bold;line-height: 1.3;margin-bottom: 20px;border-bottom: 1px solid #fff;padding-bottom: 12px;}
    .links, .contacts{width: 100%;@extend %fc;padding:0;margin:0;
        > li{list-style: none;display: flex;position: relative;
            &::before{font-family: fontello;position: absolute;top:0;left:0;color:var(--c2);}
            &:not(:last-child){margin-bottom: 12px;}
            > a{color:inherit;}
        }
    }
    .links{
        > li{padding-left:16px;
            &::before{content:"\a021";}            
        }
    }
    .contacts{
        > li{padding-left:24px;
            &::before{content:attr(data-icon);}
        }
    }
    .copy{display: flex;justify-content: center;text-align: center;color:inherit;padding-block: 16px;}
}

@media (max-width:767px){
    footer .top {padding-block: 56px;}
}
@media (max-width:575px){
    footer .hd{font-size: 20px;}
}